# For use in a venv
# see make_env.sh
# python==3.11

# Colcon cargo allows building rust packages with for ros2
catkin-pkg
empy
numpy
lark
colcon-cargo
colcon-ros-cargo

# Python scientific stack
scipy
pandas
statsmodels
matplotlib
seaborn
ipykernel
ipython

# Machine learning
#tensorflow[with-cuda]==2.18
tensorboard_plugin_profile
#tf2onnx==1.16.1
pycocotools
opencv-python
torchinfo

# These three (torch, torchvision, and tensorrt) need to be kept compatible
torch==2.5.1
torchvision==0.20.1
torch-tensorrt==2.5.0

lark
fiftyone # To browse coco datasets and predictions

git+https://github.com/huggingface/transformers.git
accelerate>=0.26.0
evaluate
datasets
albumentations
torchmetrics
tf-keras # Solves compatibility issue between transformers.Trainer and Keras 3
ultralytics

# Rerun is our main visualization library
rerun-sdk==0.22.1

# Labelling tool requirements
git+https://github.com/plumonito/sam2 # Custom repo to allow passing images directly 
pyside6 # UI components
streamlit

# Other
simple-parsing # Define input args as a Dataclass
enlighten # Progress bar
git+https://github.com/XuehaiPan/nvitop.git#egg=nvitop # Check gpu usage in real-time
pytesseract # To read video time, also requires apt install of tesseract-ocr
psycopg2-binary # Postgresql adapter for python

cvat-sdk
cvat-cli

# Dashboard server
quart
quart-cors
quart-schema
hypercorn
