# For use in a venv
# see make_env.sh
# python==3.11

# Colcon cargo allows building rust packages with for ros2
colcon-cargo
colcon-ros-cargo

# Python scientific stack
scipy
pandas
statsmodels
matplotlib
seaborn
ipykernel
ipython

# Machine learning
#tensorflow[with-cuda]==2.18
tensorboard_plugin_profile
#tf2onnx==1.16.1
pycocotools
opencv-python
torch
torchvision
torchinfo
lark
fiftyone # To browse coco datasets and predictions

git+https://github.com/huggingface/transformers.git
accelerate>=0.26.0
datasets
albumentations
torchmetrics
tf-keras # Solves compatibility issue between transformers.Trainer and Keras 3

# Rerun is our main visualization library
rerun-sdk==0.22.1

# Labelling tool requirements
git+https://github.com/plumonito/sam2 # Custom repo to allow passing images directly 
pyside6 # UI components

# Other
enlighten # Progress bar
git+https://github.com/XuehaiPan/nvitop.git#egg=nvitop # Check gpu usage in real-time
